{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0"> -->

    <title>Document</title>
</head>
<body>
    <h1> Retro-contestant</h1>
    <h2>And the retro contestant is!!!!</h2>
    
    <!-- <h2>{{Name}}</h2> -->
    <div id="img_container">
        <div id="picbox">
            <img src="{% static ''%}images/{{Name}}.png" alt="My image">
        </div>

    </div>
    
    <form>
         



    </form>
</body>
</html>